<a href="https://colab.research.google.com/github/charlotter62/EU-ETS-EUTL/blob/main/O2_xml_operators_byaccountID_PARSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parse Operator XML files


---


**Description**:

The following code parses operator XML files containing transaction information, downloaded from the [European Union Transaction Log](https://ec.europa.eu/clima/ets/transaction.do). The files are downloaded by accountID [xml-byregistry-bydate.ipynb](https://colab.research.google.com/drive/1lmHfv5nGsRHqT0ce6R0OiZDq_JBmTrOe?usp=sharing) script.
* The DetailsAll.xml files are downloaded with the "DetailsAll" button at the bottom of the search results.
* The TransactionsBasic.xml files are downloaded with the "Export" button.

**Author**: Charlotte Rivard
**Contact**: 15crivard@gmail.com
**Date**: 1/13/2022

*Please reach out with questions and coauthorship considerations if using this script for publications*

---

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
!pip install lxml
from lxml import objectify
import pandas as pd
import numpy as np
import os

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

Combine to one XML file
(~30 minutes for accounts, 3 mins for 1000 for operators)

In [ ]:
workingdir = "/gdrive/MyDrive/Brookings/XML_downloads/xml-operators-byaccountID/"
folder = "XML files/"
files = [_ for _ in os.listdir(workingdir+folder) if _.endswith("operator.xml")]
files[0:30]

In [ ]:
len(files)

14659

In [ ]:
# [f for f in files if("83704" in f)]
# files.index("DE_83704_account.xml")

In [ ]:
startfile = files[0]
openstartfile = open(workingdir+folder+startfile, "r").read()
id = startfile.split("_")[1]
regcode = startfile.split("_")[0]
openstartfile = openstartfile.replace("<Account>\n","<Account>\n\t\t<AccountID>"+str(id)+"</AccountID>\n\t\t<RegistryCode>"+regcode+"</RegistryCode>\n")

for i in range(1,len(files)):
  nextfile = files[i]
  #Edit next file
  opennextfile = open(workingdir+folder+nextfile, "r").read()
  id = nextfile.split("_")[1]
  regcode = nextfile.split("_")[0]
  opennextfile = opennextfile.replace("<Account>\n","<Account>\n\t\t<AccountID>"+str(id)+"</AccountID>\n\t\t<RegistryCode>"+regcode+"</RegistryCode>\n")

  #Combine with full file
  openstartfile+="\n"
  openstartfile+=opennextfile
  #openstartfile = openstartfile.replace('</AccountDetails>\n<?xml version="1.0" encoding="UTF-8"?>\n<AccountDetails>\n',"")
  openstartfile = openstartfile.replace('</export>\n<?xml version="1.0" encoding="UTF-8"?>\n<export>',"")

  #Save intermittently
  if(i%500==0):
    print("Account "+str(i)+" saving xml-operators_byaccountID.xml")
    with open (workingdir+'xml-operators_byaccountID.xml', 'w') as fp:
        fp.write(openstartfile)

#Save at the end
with open (workingdir+'xml-operators_byaccountID.xml', 'w') as fp:
        fp.write(openstartfile)

Account 500 saving xml-operators_byaccountID.xml
Account 1000 saving xml-operators_byaccountID.xml
Account 1500 saving xml-operators_byaccountID.xml
Account 2000 saving xml-operators_byaccountID.xml
Account 2500 saving xml-operators_byaccountID.xml
Account 3000 saving xml-operators_byaccountID.xml
Account 3500 saving xml-operators_byaccountID.xml
Account 4000 saving xml-operators_byaccountID.xml
Account 4500 saving xml-operators_byaccountID.xml
Account 5000 saving xml-operators_byaccountID.xml
Account 5500 saving xml-operators_byaccountID.xml
Account 6000 saving xml-operators_byaccountID.xml
Account 6500 saving xml-operators_byaccountID.xml
Account 7000 saving xml-operators_byaccountID.xml
Account 7500 saving xml-operators_byaccountID.xml
Account 8000 saving xml-operators_byaccountID.xml
Account 8500 saving xml-operators_byaccountID.xml
Account 9000 saving xml-operators_byaccountID.xml
Account 9500 saving xml-operators_byaccountID.xml
Account 10000 saving xml-operators_byaccountID.xml
Account 10500 saving xml-operators_byaccountID.xml
Account 11000 saving xml-operators_byaccountID.xml
Account 11500 saving xml-operators_byaccountID.xml
Account 12000 saving xml-operators_byaccountID.xml
Account 12500 saving xml-operators_byaccountID.xml
Account 13000 saving xml-operators_byaccountID.xml
Account 13500 saving xml-operators_byaccountID.xml
Account 14000 saving xml-operators_byaccountID.xml
Account 14500 saving xml-operators_byaccountID.xml

Parse the single XML file...(~25 min for accounts, 7 min for 1000 operators, over 12 hours for this script, need to save intermittently and re-initialize the dataframes)

In [ ]:
workingdir = "/gdrive/MyDrive/Brookings/XML_downloads/xml-operators-byaccountID/"
xml_data = objectify.parse(workingdir+'xml-operators_byaccountID.xml')
account_tags = xml_data.findall("OHADetails/Account")
account_tags

In [ ]:
len(account_tags)

In [ ]:
operatorsdf = pd.DataFrame();
installations = pd.DataFrame();
installationnames = [];
compliances = pd.DataFrame();
compliancenames = [];
relatedpersons = pd.DataFrame();
relatedpersonnames = [];
count = 0

for tag in account_tags:
  count+=1
  row = tag.getchildren()
  personflag = 0;
  acctid = "";
  regcode = "";
  operators = [];
  column_names = [];

  for item in row:
    if(item.tag == "Installation"): #If the list item has children, it is a holder installation
        installationnames = ["AccountID","RegistryCode"]+[b.tag for b in item.getchildren()]
        #print(installationnames)
        installationnames = [n for n in installationnames if n not in ["Compliance","IntCompliance"]] #Get rid of compliance for now
        #print(installationnames)
        installationrow = [acctid,regcode]+[b.text for b in item.getchildren()]
        #print(installationrow)
        installationrow = installationrow[0:len(installationnames)]
        #print(installationrow)
        installationrow = pd.DataFrame([installationrow],columns=installationnames)
        installations = pd.concat([installations,installationrow]).reset_index(drop=True) #blocks.append([blockrow])

        installationchildren = item.getchildren()
        for installchild in installationchildren:
          if(installchild.tag=="Compliance"):
            compliancenames = ["AccountID","registryCode"]+[b.tag for b in installchild.getchildren()]
            compliancerow = [acctid,regcode]+[b.text for b in installchild.getchildren()]
            compliancerow = pd.DataFrame([compliancerow],columns=compliancenames)
            compliances = pd.concat([compliances,compliancerow]).reset_index(drop=True) #blocks.append([blockrow])
    else:
      if(item.tag == "RelatedPerson"):
        if(personflag==1):
          #print("2nd related person")
          relatedpersonnames = ["AccountID","registryCode"]+[b.tag for b in item.getchildren()]
          relatedpersonrow = [acctid,regcode]+[b.text for b in item.getchildren()]
          relatedpersonrow = pd.DataFrame([relatedpersonrow],columns=relatedpersonnames)
          relatedpersons = pd.concat([relatedpersons,relatedpersonrow]).reset_index(drop=True)
        else:
          #print("1st related person")
          conum = item.find("CompanyRegistrationNo")
          if conum is not None:
            operators.append(conum.text)
            column_names.append(conum.tag)
          personflag=1
      else:
        if(item.tag not in column_names):
          operators.append(item.text)
          column_names.append(item.tag)
        if(item.tag == "AccountID"):
          acctid = item.text
        if(item.tag == "RegistryCode"):
          regcode = item.text

  operators = pd.DataFrame([operators], columns=column_names)
  operatorsdf = pd.concat([operatorsdf,operators]).reset_index(drop=True)

  if(count%500==0):
    print("Saving files at operator "+str(count))
    operatorsdf.to_csv(workingdir+"all_Operators_byAccountID2.csv",index=False,encoding="UTF-8-sig")
    relatedpersons.to_csv(workingdir+"all_RelatedPersons_byAccountID2.csv",index=False,encoding="UTF-8-sig")
    installations.to_csv(workingdir+"all_Installations_byAccountID2.csv",index=False,encoding="UTF-8-sig")
    compliances.to_csv(workingdir+"all_Compliance_byAccountID_byYear2.csv",index=False,encoding="UTF-8-sig")

In [ ]:
operatorsdf

     AccountID  ...           CompanyRegistrationNo
0       102323  ...                        PG-56447
1       102321  ...                       BA-329279
2        93291  ...                        35813954
3        97501  ...                          147624
4       103169  ...                     00092830512
...        ...  ...                             ...
2155    104634  ...  HRA 202897 Amtsgericht Tostedt
2156    103435  ...  HRB 200098 Amtsgericht Tostedt
2157    104145  ...     HRB 203302 Amtsgericht Jena
2158    104404  ...     HRB 6165 Amtsgericht Gießen
2159    104522  ...    HRB 8327 Amtsgericht Cottbus

[2160 rows x 10 columns]

In [ ]:
relatedpersons

     AccountID registryCode  ... Telephone1 Telephone2
0       102323           IT  ...        NaN        NaN
1       102321           IT  ...        NaN        NaN
2        93291           SK  ...        NaN        NaN
3        97501           GB  ...        NaN        NaN
4       103169           IT  ...        NaN        NaN
...        ...          ...  ...        ...        ...
2155    104634           DE  ...        NaN        NaN
2156    103435           DE  ...        NaN        NaN
2157    104145           DE  ...        NaN        NaN
2158    104404           DE  ...        NaN        NaN
2159    104522           DE  ...        NaN        NaN

[2160 rows x 15 columns]

In [ ]:
installations

     AccountID RegistryCode  ... SubsidiaryCompany CallSign
0       102323           IT  ...               NaN      NaN
1       102321           IT  ...               NaN      NaN
2        93291           SK  ...               NaN      NaN
3        97501           GB  ...               NaN      NaN
4       103169           IT  ...               NaN      NaN
...        ...          ...  ...               ...      ...
2155    104634           DE  ...               -,-      NaN
2156    103435           DE  ...               NaN      NaN
2157    104145           DE  ...               -,-      NaN
2158    104404           DE  ...               -,-      NaN
2159    104522           DE  ...               -,-      NaN

[2160 rows x 21 columns]

In [ ]:
compliances

      AccountID registryCode  ... ReserveAllocations TrasitionalAllocations
0        102323           IT  ...                NaN                    NaN
1        102323           IT  ...                NaN                    NaN
2        102323           IT  ...                NaN                    NaN
3        102323           IT  ...                NaN                    NaN
4        102323           IT  ...                NaN                    NaN
...         ...          ...  ...                ...                    ...
56155    104522           DE  ...                NaN                    NaN
56156    104522           DE  ...                NaN                    NaN
56157    104522           DE  ...                NaN                    NaN
56158    104522           DE  ...                NaN                    NaN
56159    104522           DE  ...                NaN                    NaN

[56160 rows x 14 columns]

In [ ]:
operatorsdf.to_csv(workingdir+"all_Operators_byAccountID.csv",index=False,encoding="UTF-8-sig")

In [ ]:
relatedpersons.to_csv(workingdir+"all_RelatedPersons_byAccountID.csv",index=False,encoding="UTF-8-sig")

In [ ]:
installations.to_csv(workingdir+"all_Installations_byAccountID.csv",index=False,encoding="UTF-8-sig")

In [ ]:
compliances.to_csv(workingdir+"all_Compliance_byAccountID_byYear.csv",index=False,encoding="UTF-8-sig")